.btn-secondary .button-container {
    background-color: var(--dark-color);
}

.btn-tertiary .button-container {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: blue;
    text-decoration: underline;
}

.btn-left-align {
    text-align: left;
}

.btn-right-align {
    text-align: right;
}

.btn-center-align {
    text-align: center;
}

.btn-red .button-container {
    background-color: red;
}

.btn-green .button-container {
    background-color: green;
}

.graphql-data {
    display: flex;
    justify-content: space-between;
}