.button-container:has(.left-align) {
    text-align: left;
  }
  
  .button-container:has(.right-align) {
    text-align: right;
  }
  
  .button-container:has(.center-align) {
    text-align: center;
  }  

  a.button.new,
  button.new {
    background-color: green;
    border: 2px solid currentcolor;
    color: red;
  }